<section class="rounded-none bg-white">
    <div class="w-full p-5 flex justify-between items-center">
        <h3 class="font-bold">{{title}}</h3>
        <button type="button" class="flex justify-center items-center px-1 rounded-full" (click)="cancel()">
            <i [class]="closeIcon + ' text-lg'"></i>
        </button>
    </div>

    <form [formGroup]="addedFormGroup">
        <div class="px-5 py-12 flex flex-col gap-7 flex-1">
            <div class="flex flex-col justify-start items-start gap-2">
                <label for="SocialMediaLink" class="ms-1">Sosyal Media Linki</label>
                <input type="text" name="SocialMediaLink" id="SocialMediaLink"
                    class="border w-full px-4 py-2 rounded-full border-secondary-300" formControlName="SocialMediaLink" appValidUrlDirective>
                <span *ngIf="
                addedFormGroup.get('SocialMediaLink')?.invalid && submitted
                ||
                addedFormGroup.get('SocialMediaLink').hasError('invalidUrl')
                " class="text-xs text-primary">
                    Geçersiz bir URL girdiniz!
                </span>
            </div>

            <div class="flex flex-col justify-start items-start gap-2">
                <label for="SocialMediaName" class="ms-1">Sosyal Media Adı</label>
                <input type="text" name="SocialMediaName" id="SocialMediaName"
                    class="border w-full px-4 py-2 rounded-full border-secondary-300" formControlName="SocialMediaName">
                <span *ngIf="this.addedFormGroup.get('SocialMediaName').invalid && submitted"
                    class="text-xs ms-1 text-primary">
                    Lütfe bu alanı boş geçmeyiniz!
                </span>
            </div>

            <div class="flex flex-col justify-start items-start gap-2">
                <label for="Description" class="ms-1">Açıklama</label>
                <input type="text" name="Description" id="Description"
                    class="border w-full px-4 py-2 rounded-full border-secondary-300" formControlName="Description">
                <span *ngIf="this.addedFormGroup.get('Description').invalid && submitted"
                    class="text-xs ms-1 text-primary">
                    Lütfe bu alanı boş geçmeyiniz!
                </span>
            </div>
        </div>

        <div class="p-5 flex justify-end items-center">
            <div class="flex justify-end items-center gap-4">
                <app-system-button [text]="'Vazgeç'" (click)="cancel()"
                    [systemButtonStyle]="setCloseButtonStyle()"></app-system-button>
                <app-system-button [text]="'Kaydet'" (click)="confirm()"
                    [systemButtonStyle]="setSaveButtonStyle()"></app-system-button>
            </div>
        </div>
    </form>
</section>