<div class="py-5 max-lg:flex-col max-lg:gap-y-4 flex justify-between items-center max-lg:items-start flex-nowrap">
    <div class="lg:flex-1 max-lg:w-full justify-center items-center  flex-nowrap">
        <input type="text" [formControl]="searchControl" (keyup.enter)="onEnter()"
            class="py-2 px-4 max-sm:12/12 sm:w-9/12 md:w-10/12 lg:w-3/12 rounded-l-full outline-none duration-300 hover:ring-2 focus:ring-2 active:ring-2 ring-offset-primary">
        <app-system-button [icon]="searchIcon" [systemButtonStyle]="searchButtonStyle()"></app-system-button>
        <app-menu-button [menus]="menuButtonItems" (checkedItemsChange)="handleCheckedItems($event)"></app-menu-button>
    </div>
    <app-system-button [text]="addButtonText" [icon]="plusIcon" (click)="openDialog()"></app-system-button>
</div>